body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: black;
    
    min-height: 100vh;
}

.navbar {
    background: linear-gradient(90deg, #003688, #0e3479, #003688);
    box-shadow:
        0 0 8px rgba(0, 132, 255, .5),
        0 0 18px rgba(0, 132, 255, .4),
        0 0 30px rgba(59, 130, 246, .3);
}

.nav-link {
    color: white;
    font-weight: bold;
}

.skill{
    color: #003688;

}

.deksripsi{
    color: rgba(0, 132, 255, .5);
}

.py-5{
    background: linear-gradient(
  180deg, 
  rgb(255, 255, 255) 0%,      /* Warna bagian paling ATAS */
  rgb(0, 135, 255, 0.4) 50%,    /* Warna UTAMA di TENGAH */
  rgb(255, 255, 255) 100%     /* Warna bagian paling BAWAH */
);

}

html {
  scroll-behavior: smooth;
}
